*{
    background-image: black ;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    color: #fff;
    background-image: url(prj.jpg);
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
}

#search-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.search-container {
    background: rgba(0, 0, 0, 0.5);
    padding-left: 0em;
    border-radius: 10px;
    text-align: left;
}

.search-container h2 {
    margin-top: 0;
}

input[type="text"] {
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    border: none;
    border-radius: 5px;
}

button {
    padding: 0.5em 1em;
    background: #ff5722;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e64a19;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: left;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}


